.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-form.a {
  color: #ff0905;
  text-decoration: none;
}
a {
  color: #3b3b3b;
  text-decoration: underline;
}

body {
  background-color: #ea929c;
  background-image: linear-gradient(45deg, #f3e0e2, #08ac4b);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form {
  position: relative;
  z-index: 1;
  background: #ebe0d0;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-5 {
  margin-top: 20rem !important;
  margin-bottom: 3rem !important;
}
.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: #ffc0cb;
}

.social-container {
  margin: 50px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.social-container {
  margin: 50px 0;
}

.social-container a {
 
  background-image: url(c2.jpg);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
